/*
Components

extending components from ionic.app.scss
*/

.frame_look_feel {
  background-color: #edebec;
}

.bar .button-icon.button:before,
.bar .button .icon:before,
.bar .icon.button:before,
.bar .icon-left.button:before,
.bar .icon-right.button:before,
.bar button.button-icon:before,
.bar button .icon:before,
.bar button.icon:before,
.bar button.icon-left:before,
.bar button.icon-right:before {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 16px;
  line-height: 32px;
}

.avatar {
  border-radius: 50%;
  top: 10px;

  &.x120 {
    width: 120px;
    height: 120px;
  }
}

.uppercase {
  text-transform: uppercase;
}
//
// .bar-header {
//   border: 0px !important;
//   border-bottom-color: transparent !important;
//   background-image: none !important;
//   border-bottom: none !important;
// }
//
// .bar-bottom-header {
//   border: 1px !important;
//   border-bottom-color: #666 !important;
//   border-bottom: #666 !important;
// }

.button {
	@extend .button;

	&.button-block {
		margin: 5px auto;
		width: 80%;
		font-weight: bold;
	}
}

// .bar-light {
//   background-color: transparent !important; /* or transparent, or background:none */
// 	border: none;
//
//   .button-clear.button {
//     border-color: transparent;
//     background: none;
//     box-shadow: none;
//     color: white;
//     font-weight: bold;
//     font-size: 16px;
//   }
// }
//
// .has-header {
// 	top: 0;
// }
//
// .custom-header {
// 	top: 44px;
// }
//
// .list:last-child.card {
// 	margin-bottom: 0;
// }
//
// .card {
// 	margin: 0;
// }
