<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <div class="padding">
      <div class="photo-upload-container" ng-class="images.length > 0 ? '' : 'empty'">
        <div class="dummy"></div>
        <div class="photo-container-box">
          <div class="photo-container" ng-repeat="image in images track by $index">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="preview">
                <img ng-src="{{image}}" width="100%">
              </div>
            </div>
          </div>
          <div class="photo-container">
            <div class="photo-upload">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="padding">
      <div class="row" ng-show="images.length < 4">
        <div class="col col-50">
          <a class="button button-full button-positive" ng-click="takePicture()">바로촬영</a>
        </div>
        <div class="col col-50">
          <a class="button button-full button-calm" ng-click="getPicture()">앨범등록</a>
        </div>
      </div>
    </div>

    <form name="postform" novalidate>
      <div class="list">
        <div class="item item-divider ng-binding">상품정보 입력</div>
        <label class="item item-input">
          <span class="input-label">제목</span>
          <input type="text" placeholder="멋진 제목을 붙여주세요" name="title" ng-model="item.title" ng-minlength="4" ng-maxlength="255" required />
        </label>
        <label class="item item-input">
          <span class="input-label">설명</span>
        	<textarea rows="4" cols="10" name="description" ng-model="item.description" ng-minlength="6" required></textarea>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">카테고리</span>
          <select ng-model="item.department" name="department" data-ng-options="key as key for (key, value) in categories" ng-change="categoryChanged()" required>
            <option value="">카테고리 선택</option>
          </select>
        </label>
        <label class="item item-input item-select" ng-show="item.department !== ''">
          <span class="input-label">하위 카테고리</span>
          <select ng-model="item.subcategory" name="subcategory" data-ng-options="subcategory for subcategory in subcategories" required>
            <option value="">하위 카테고리 선택</option>
          </select>
        </label>

        <div class="item item-divider ng-binding">부가정보 입력</div>
        <label class="item item-input">
          <span class="input-label">위치</span>
          <ion-google-place placeholder="간략한 주소를 입력하세요 (동/읍/면)" ng-model="item.location" current-location="true" />
        </label>
        <label class="item item-input">
          <span class="input-label">가격</span>
          <input type="number" placeholder="20" name="price" ng-model="item.price" required />
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            상태
          </div>
          <select ng-model="item.condition" name="condition" data-ng-options="value as key for (key, value) in conditions" required>
            <option value="">제품 상태</option>
          </select>
        </label>

        <div class="item item-divider ng-binding">배송방법 지정</div>
        <ion-checkbox ng-model="method.checked" ng-repeat="method in item.fulfillments">{{method.text}}</ion-checkbox>
        <div class="padding">
          <p ng-show="postform.location.$error.required">* 위치정보는 필수항목입니다</p>
          <p ng-show="postform.title.$error.required">* 제목은 필수항목입니다</p>
          <p ng-show="postform.description.$error.required">* 설명은 필수항목입니다</p>
          <p ng-show="postform.department.$error.required">* 카테고리는 필수항목입니다</p>
          <p ng-show="postform.subcategory.$error.required">* 하위 카테고리는 필수항목입니다</p>
          <p ng-show="postform.condition.$error.required">* 제품 상태는 필수항목입니다</p>
          <p ng-show="postform.price.$error.required">* 가격은 필수항목입니다</p>
          <p ng-show="postform.title.$error.minlength">* 제목은 최소 4자 이상이어야 합니다</p>
          <p ng-show="postform.description.$error.minlength">* 설명은 최소 6자 이상이어야 합니다</p>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-disabled="postform.$invalid" ng-click="submit()">등록하기</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
