<ion-view hide-nav-bar="true" hide-back-button="true">
  <ion-content>
    <div class="padding">
      <div class="photo-upload-container" ng-class="images.length > 0 ? '' : 'empty'">
        <div class="dummy"></div>
        <div class="photo-container-box">
          <div class="photo-container" ng-repeat="image in images track by $index">
            <div class="photo-upload">
              <i class="icon-close remove-button"></i>
              <div class="preview">
                <img ng-src="{{image}}" width="100%">
              </div>
            </div>
          </div>
          <div class="photo-container">
            <div class="photo-upload">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="padding">
      <div class="row">
        <div class="col col-50">
          <a class="button button-full button-positive" ng-click="takePicture()">바로촬영</a>
        </div>
        <div class="col col-50">
          <a class="button button-full button-calm" ng-click="getPicture()">앨범등록</a>
        </div>
      </div>

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <ion-google-place placeholder="Enter an address, Apt# and ZIP" ng-model="location" current-location="true"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Suhr">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" placeholder="john@suhr.com">
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>
