// @import url('//fonts.googleapis.com/css?family=Varela+Round');
@import url('//fonts.googleapis.com/css?family=Exo+2');

// body에 적용되는 전경 및 배경 색상
$main-color: #28affa;
$main-bg-color: #fff;
$reverse-color: #fff;
$header-default-color: #a7a7a8;
$header-link-color: #777;
$box-shadow-color: #ddd;
$gray-color: #a7a7a8;
$low-white: #fafafa;
$low-black: #333;
$footer-link: #4b4948;
$account-h1-color: #4b4948;
$gray-color: #999999;
$hr-color: #f6e7d1;
$input-border-color: #eaeaea;
$input-focus-color: #66afe9;
$input-bg-color: #eee;
//툴팁 배경 색상
$cb-tooltip-bg-color: #2d3339;

// $default-font: 'Varela Round', 'Noto Sans CJK KR', 'Apple SD Gothic Neo', 'AppleSDGothic', '애플SD고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-font: 'Exo 2', 'Noto Sans CJK KR', 'Apple SD Gothic Neo', 'AppleSDGothic', '애플SD고딕', 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$border-radius: 4px;

// landing-page
$hero-background: #f6e7d1;
