<div class="progress-area hidden">
  <ol class="page-dots">
    <li class="dot"></li>
    <li class="dot"></li>
    <li class="dot"></li>
    <li class="dot"></li>
    <li class="dot"></li>
  </ol>
</div>
