<%= content_for :body_id, 'landing' %>

<div id="landing-page">
  <section class="hero">
    <div class="masthead-wrapper">
      <h1>안쓰는 것 나누고, <br class="visible-xs">필요한 것 얻자</h1>
      <h3>사용하지 않는 물건의 사진을 찍어, <br class="visible-xs">필요한 사람과 나눠 보세요.</h3>
      <div class="actions mobile">
        <h3>Available for iOS and Android</h3>
        <a href="#" class="get-the-app dispatch-mobile-conversion" data-target="#get-the-app-modal" data-toggle="modal">
          <span>모바일 다운로드</span>
        </a>
      </div>
      <div class="actions desktop">
        <a class="get-started" href="#" data-target="#signup-modal" data-toggle="modal">
          <span>nanugo 하기</span>
        </a>
        <h3>Available for iOS and Android</h3>
        <ul class="appstore-buttons">
          <li class="ios-app-store">
            <a class="dispatch-ios-conversion" href="#">
              <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/ios-download-e4d855b28a3186b2eef892fb4f7c6aad.png" alt="애플스토어로 이동하기">
            </a>
          </li>
          <li class="android-google-play">
            <a class="dispatch-android-conversion" href="#">
              <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/google-play-download-c75ba5d6cf1832d7a2507dfb006cbe6e.png" alt="구글플레이로 이동하기">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="services" class="how-it-works">
    <h1>nanugo 이용방법</h1>
    <div class="wrapper">
      <article class="post-a-pic">
        <div class="image-container"></div>
        <aside>
          <div class="triangle"></div>
          <h2>사진찍기</h2>
          <p>좋아했던 물건이지만 이제는 사용하지 않는 물건이 있다면 사진을 찍어서 올려주세요. 주위를 둘러보면 지금 나에게는 필요없지만 누군가에게는 꼭 필요한 물건들이 있을 거예요.</p>
        </aside>
      </article>
      <article class="let-it-go">
        <div class="image-container"></div>
        <aside>
          <div class="triangle"></div>
          <h2>입양 보내기</h2>
          <p>새로운 주인에게 잘 도착할 수 있도록 예쁘게 포장해 주세요. 정성스럽게 포장된 물건은 택배를 이용하여 배송하거나 직접 만나서 전달할 수도 있습니다.</p>
        </aside>
      </article>
      <article class="shop-for-free">
        <div class="image-container"></div>
        <aside>
          <div class="triangle"></div>
          <h2>필요한 물건 찾기</h2>
          <p>가지고 있던 물건을 누군가에게 입양했다면, 나누고 포인트를 쌓을 수 있어요. 이렇게 쌓인 나누고 포인트를 이용하여 지금 나에게 꼭 필요한 물건을 가질 수 있어요. nanugo는 신개념 공유경제 시장입니다.</p>
        </aside>
      </article>
    </div>
  </section>
  <section id="download" class="declutter">
    <h1>지금 다운로드 받으세요</h1>
    <h3 class="desktop">Available for iOS and Android</h3>
    <ul class="appstore-buttons text-center">
      <li class="ios-app-store">
        <a class="dispatch-ios-conversion" href="#">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/ios-download-e4d855b28a3186b2eef892fb4f7c6aad.png" alt="애플스토어로 이동">
        </a>
      </li>
      <li class="android-google-play">
        <a class="dispatch-android-conversion" href="#">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/google-play-download-c75ba5d6cf1832d7a2507dfb006cbe6e.png" alt="구글플레이로 이동">
        </a>
      </li>
    </ul>
    <%= image_tag "get-the-app-phones.png", class: "desktop" %>
    <%= image_tag "get-the-app-phones-mobile.png", class: "mobile" %>
  </section>
</div>
