<%= content_for :body_id, 'landing' %>

<div id="landing-page">
  <section class="hero">
    <div class="masthead-wrapper">
      <h1>안쓰는 것 나누고, <br class="visible-xs">필요한 것 얻자</h1>
      <h3>사용하지 않는 물건의 사진을 찍어, <br class="visible-xs">필요한 사람과 나눠 보세요.</h3>
      <div class="actions desktop">
        <a class="get-started" href="https://yerdle.com/signup">
          <span>NanuGO 하기</span>
        </a>
        <h3>Available for iOS and Android</h3>
        <ul class="appstore-buttons">
          <li class="ios-app-store">
            <a class="dispatch-ios-conversion" href="#">
              <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/ios-download-e4d855b28a3186b2eef892fb4f7c6aad.png">
            </a>
          </li>
          <li class="android-google-play">
            <a class="dispatch-android-conversion" href="#">
              <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/google-play-download-c75ba5d6cf1832d7a2507dfb006cbe6e.png">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="services" class="how-it-works">
    <h1>NanuGO 이용방법</h1>
    <div class="wrapper">
      <article class="post-a-pic">
        <div class="image-container"></div>
        <aside>
          <div class="triangle"></div>
          <h2>사진찍기</h2>
          <p>좋아했던 물건이지만 이제는 사용하지 않는 물건이 있다면 사진을 찍어서 올려주세요. 주위를 둘러보면 지금 나에게는 필요없지만 누군가에게는 꼭 필요한 물건들이 있을 거예요.</p>
        </aside>
      </article>
      <article class="let-it-go">
        <div class="image-container"></div>
        <aside>
          <div class="triangle"></div>
          <h2>입양 보내기</h2>
          <p>새로운 주인에게 잘 도착할 수 있도록 예쁘게 포장해 주세요. 정성스럽게 포장된 물건은 택배를 이용하여 배송하거나 직접 만나서 전달할 수도 있습니다.</p>
        </aside>
      </article>
      <article class="shop-for-free">
        <div class="image-container"></div>
        <aside>
          <div class="triangle"></div>
          <h2>필요한 물건 찾기</h2>
          <p>가지고 있던 물건을 누군가에게 입양했다면, 나누고 포인트를 쌓을 수 있어요. 이렇게 쌓인 나누고 포인트를 이용하여 지금 나에게 꼭 필요한 물건을 가질 수 있어요. NanuGO는 신개념 공유경제 시장입니다.</p>
        </aside>
      </article>
    </div>
  </section>
  <section class="recently-featured-in">
    <h3>NanuGO에 쏟아지는 관심들</h3>
    <ul>
      <li class="fast-company">
        <a href="http://www.fastcoexist.com/3038383/patagonia-invests-in-yerdle-through-its-internal-venture-fund" target="_blank">
          <img data-at2x="//d12azzhof0chfb.cloudfront.net/assets/about/fastco-logo@2x-e45a1a29b774f26733069a86132d76dc.png" src="//d12azzhof0chfb.cloudfront.net/assets/about/fastco-logo-3d92901e8caf17aeab120091993838e2.png" alt="Fastco logo">
        </a>
      </li>
      <li class="usa-today">
        <a href="http://www.usatoday.com/story/money/business/2014/07/26/yerdle-online-tools-cut-carbon-footprint/10749413/" target="_blank">
          <img data-at2x="//d12azzhof0chfb.cloudfront.net/assets/about/usa-today-logo@2x-0acd8d5fab1db83ca4010f3a7f3d5d49.png" src="//d12azzhof0chfb.cloudfront.net/assets/about/usa-today-logo-d6746a7dfb189cd52d7475270ee70216.png" alt="Usa today logo">
        </a>
      </li>
      <li class="time">
        <a href="http://time.com/3028066/recycle-reuse-reprofit-startups-try-to-make-money-selling-your-stuff/" target="_blank">
          <img data-at2x="//d12azzhof0chfb.cloudfront.net/assets/about/time-logo@2x-0eee276c26a8668e284eac5e39a43022.png" src="//d12azzhof0chfb.cloudfront.net/assets/about/time-logo-843b6b575e169cf306ff7d5a7149d480.png" alt="Time logo">
        </a>
      </li>
      <li class="business-insider">
        <a href="http://www.businessinsider.com/yerdle-sharing-ecommerce-5-million-raise-2014-4" target="_blank">
          <img data-at2x="//d12azzhof0chfb.cloudfront.net/assets/about/business-insider-logo@2x-559aa65b5b5edaf4371cf488436dc93f.png" src="//d12azzhof0chfb.cloudfront.net/assets/about/business-insider-logo-e79eea477f78b08fea9d002c399ccd5b.png" alt="Business insider logo">
        </a>
      </li>
      <li class="new-york-times">
        <a href="http://runway.blogs.nytimes.com/2014/12/01/patagonia-bucks-the-black-friday-trend/">
          <img data-at2x="//d12azzhof0chfb.cloudfront.net/about/new-york-times-logo@2x.png" src="//d12azzhof0chfb.cloudfront.net/assets/about/new-york-times-logo-ad3a6143107ce1c86b44260b5a6327c2.png" alt="New york times logo">
        </a>
      </li>
      <li class="sf-gate">
        <a href="http://www.sfgate.com/technology/article/Yerdle-uses-tech-to-give-old-stuff-new-life-5432277.php" target="_blank">
          <img data-at2x="//d12azzhof0chfb.cloudfront.net/assets/about/sfgate-logo@2x-ad2af0d70f1e3c9764344cc027e543cf.png" src="//d12azzhof0chfb.cloudfront.net/assets/about/sfgate-logo-f8ce0dfcb43fc6931873723cea012032.png" alt="Sfgate logo">
        </a>
      </li>
    </ul>
  </section>
  <section id="download" class="declutter">
    <h1>지금 다운로드 받으세요</h1>
    <h3 class="desktop">Available for iOS and Android</h3>
    <ul class="appstore-buttons text-center">
      <li class="ios-app-store">
        <a class="dispatch-ios-conversion" href="https://itunes.apple.com/us/app/yerdle/id544414705?mt=8&amp;uo=4">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/ios-download-e4d855b28a3186b2eef892fb4f7c6aad.png">
        </a>
      </li>
      <li class="android-google-play">
        <a class="dispatch-android-conversion" href="https://play.google.com/store/apps/details?id=com.yerdle.yerdle">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/google-play-download-c75ba5d6cf1832d7a2507dfb006cbe6e.png">
        </a>
      </li>
    </ul>
    <img class="desktop" src="//d12azzhof0chfb.cloudfront.net/assets/landing/get-the-app-phones-f0af47fdfd5110e6cc701ad485dd196f.png">
    <img class="mobile" src="//d12azzhof0chfb.cloudfront.net/assets/landing/get-the-app-phones-mobile-4bd56325030b012b7df4f60fca4e1bd3.png">
  </section>
</div>
