#item-index {

  .row, .col {
    padding: 0;
  }

  .first-item-wrapper,
  .second-item-wrapper {
    padding: 5px 2.5px 0 2.5px;
  }

  .first-item-wrapper {
    margin-left: 2.5px;
  }

  .second-item-wrapper {
    margin-right: 2.5px;
  }

  .item {
    margin: 0;
    font-size: .8em;
    padding-bottom: 10px;

    p {
      font-size: 1em;
    }
  }

  .actions {
    color: #999;
    margin-top: 5px;

    .wish {
      float: right;
    }
  }
}

#item-detail {
  &.item-detail-wrapper {
    .slider-slide {
      img {
        display: block;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }

  .item-price {
    float: right;
    font-size: 1.5em;
    padding: 10px 15px;
    background-color: white;
    font-weight: bold;
  }

  section {
    padding: 10px 15px 20px 15px;
    border-bottom: 1px solid $gray-background-bolder;
    background-color: $white-color;

    &.user-information {
      text-align: center;

      .condition-header {
        color: $black-sub-color;
      }

      .condition-container {
        margin-bottom: 25px;
      }

      .delivery-method {

        .shipping,
        .pickup {
          display: inline-block;
        }

        .pickup {
          margin-left: 30px;
        }

        i {
          font-size: 40px;

          &.yes {
            color: $blue-shade-color-4;
          }

          &.no {
            color: $gray-disabled-color;
          }
        }
      }
    }

    &.recommended-wrapper {
      padding: 10px;
      text-align: center;
      color: $black-sub-color;
      font-weight: bold;
      background-color: $gray-disabled-color;
      border-bottom: 1px solid $gray-background-bolder;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .add-to-wish {
    margin: 20px 0 25px 0;
    font-size: 1.6em;

    a {
      color: black;
    }

    i {
      color: red;
    }
  }

  .share {
    position: relative;
    float: left;
    margin-bottom: 25px;
    width: 100%;
    min-height: 1px;
    list-style-type: none;

    li {
      display: inline-block;
      height: 24px;
      margin-right: 15px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .item-index-wrapper {
    padding-bottom: 15px;
  }
}
