.card {
  .item {
    font-size: .8em;
    padding-bottom: 10px;

    p {
      font-size: 1em;
    }
  }

  .actions {
    color: #999;
    margin-top: 5px;

    .wish {
      float: right;
    }
  }
}

.item-price {
  position: absolute;
  top: 340px;
  padding: 3px 12px;
  background-color: white;
  font-weight: bold;
}

.item-information {
  padding: 10px;
}

.item-wrapper {
  .slider-slide {
    position: relative;
    background: black;

    img {
      opacity: .8;
    }
  }
}
