<ion-view title="authenticate">
  <ion-content class="main-page home-bg content-bg overlay-content" scroll="false" >
    <section class="page modal roadblock" id="page-1">
      <img class="logo" src="img/logo.svg" width="100" height="88">
      <p>지금 가입하면 25 나누고 포인트를 드립니다</p>
      <button class="button button-block button-positive" ng-click="navigateTo('app.auth')">
        페이스북으로 시작하기
      </button>
      <button class="button button-block button-energized" ng-click="navigateTo('app.auth.signup')">
        이메일로 가입하기
      </button>
      <span>
        <a class="continue-link" ng-click="navigateTo('app.auth.signin')">
          이미 계정이 있으신가요? 로그인
        </a>
      </span>
    </section>
  </ion-content>
</ion-view>
