<%= content_for :body_id, 'post-index' %>

<div class="postings">
  <div class="container">
    <ul class="nav nav-tabs" id="tabs">
      <li class="active" role="presentation">
        <a data-toggle="tab" href="#trending">Now Trending</a>
      </li>
      <li role="presentation">
        <a data-toggle="tab" href="#shop">Categories</a>
      </li>
    </ul>
    <a class="posting-template hidden card posting-container item-container">
      <div class="image">
        <img>
        <div class="status hidden"></div>
      </div>
      <section class="details">
        <h4 class="title"></h4>
        <h4 class="price-container">
          <i class="yrd-symbol"></i>
          <span class="price"></span>
        </h4>
      </section>
      <div class="badge hidden"></div>
    </a>
    <a class="wish-template hidden card wish-container item-container">
      <div class="image">
        <img>
        <div class="btn btn-primary btn-wish">Make a Wish</div>
      </div>
      <section class="details">
        <h4 class="title"></h4>
        <h5 class="description"></h5>
      </section>
    </a>
    <div class="tab-content">
      <div class="tab-pane active" id="trending">
        <div class="results">
          <div class="card-holder" id="infinite-container">
            <%= render @items %>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="shop">
        <div class="container shop-container">
          <h3>
            <a class="h3" href="/postings/women">Women</a>&nbsp;
            <a class="see-more" href="/postings/women">
              <span class="pull-right-xs">See more</span>
              <span class="hidden-xs">&nbsp;»</span>
            </a>
          </h3>
          <div class="spinner">
            <img src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
          </div>
          <div class="card-scroller" id="shop-women-container"></div>
        </div>
        <div class="container shop-container">
          <h3>
            <a class="h3" href="/postings/men">Men</a>&nbsp;
            <a class="see-more" href="/postings/men">
              <span class="pull-right-xs">See more</span>
              <span class="hidden-xs">&nbsp;»</span>
            </a>
          </h3>
          <div class="spinner">
            <img src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
          </div>
          <div class="card-scroller" id="shop-men-container"></div>
        </div>
        <div class="container shop-container">
          <h3>
            <a class="h3" href="/postings/unisex">Unisex</a>&nbsp;
            <a class="see-more" href="/postings/unisex">
              <span class="pull-right-xs">See more</span>
              <span class="hidden-xs">&nbsp;»</span>
            </a>
          </h3>
          <div class="spinner">
            <img src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
          </div>
          <div class="card-scroller" id="shop-unisex-container"></div>
        </div>
        <div class="container shop-container">
          <h3>
            <a class="h3" href="/postings/kids">Kids</a>&nbsp;
            <a class="see-more" href="/postings/kids">
              <span class="pull-right-xs">See more</span>
              <span class="hidden-xs">&nbsp;»</span>
            </a>
          </h3>
          <div class="spinner">
            <img src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
          </div>
          <div class="card-scroller" id="shop-kids-container"></div>
        </div>
        <div class="container shop-container">
          <h3>
            <a class="h3" href="/postings/baby">Baby</a>&nbsp;
            <a class="see-more" href="/postings/baby">
              <span class="pull-right-xs">See more</span>
              <span class="hidden-xs">&nbsp;»</span>
            </a>
          </h3>
          <div class="spinner">
            <img src="//d12azzhof0chfb.cloudfront.net/assets/spinner-01195c7995ae7fa9e9bc6094d0c44b94.gif">
          </div>
          <div class="card-scroller" id="shop-baby-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>
