<%= content_for :body_id, 'post-item' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <h2>뭔가를 나눠보세요</h2>
    </div>
    <%= render "form" %>
    </div>
  </div>
</div>
