<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal">
  <div id="confirmation">
    <div class="confirmation-wrapper">
      <header>
        <h1>인증메일 재전송</h1>
        <h4>인증메일 재전송을 위해 아래의 내용을 확인해 주세요.</h4>
      </header>
      <section class="confirmation">
        <div class="seperator">
          <hr />
        </div>
        <div id="js-error-messages" class="result"></div>
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), :html => { :id => "confirmation-box" }, :format => :json, :remote => true, authenticity_token: true) do |f| %>
          <div class="fields">
            <div class="form-group">
              <%= f.email_field :email, placeholder: "인증메일을 받을 이메일을 입력해 주세요.", autofocus: true %>
            </div>
          </div>
          <div class="confirmation-send">
            <%= f.submit "재전송" %>
          </div>
        <% end %>
      </section>
      <section class="text-center">
        <div>이미 nanugo 계정이 있으신가요? <a href="#" class="js-modal-signin-at-confirmation">로그인하기</a></div>
        <div>아직 nanugo 계정이 없나요? <a href="#" class="js-modal-signup-at-confirmation">계정만들기</a></div>
      </section>
    </div>
  </div>
</div>
