<footer class="footer no-margin-top">
  <div class="footer-body">
    <ul class="footer-links">
      <li class="footer-link">
        <a href="#">친구초대</a>
      </li>
      <li class="footer-link">
        <a href="/privacy">개인정보취급방침</a>
      </li>
      <li class="footer-link">
        <a href="/terms">이용약관</a>
      </li>
      <li class="footer-link">
        <a href="#">고객센터</a>
      </li>
    </ul>
    <p aria-hidden="" class="with-love hidden-xs">
      nanugo 경기도 성남시 분당구 대왕판교로 판교테크노밸리 9층 <br class="visible-sm">대표: 이언정 | 개인정보관리책임자: 장광우<br>Copyright © 2016 by nanugo. Inc. All rights reserved
    </p>
  </div>
  <ul class="share">
    <li>
      <a class="facebook-share" href="#">페이스북</a>
    </li>
    <li>
      <a class="twitter-share" href="#">트위터</a>
    </li>
    <li>
      <a class="blog-share" href="#">블로그</a>
    </li>
  </ul>
  <p class="with-love visible-xs">
    nanugo <br class="visible-xs">경기도 성남시 분당구 대왕판교로 판교테크노밸리 9층 <br class="visible-xs">대표: 이언정 | 개인정보관리책임자: 장광우<br class="visible-xs">Copyright © 2016 by nanugo. Inc. <br class="visible-xs">All rights reserved
  </p>
</footer>
