<div class="modal coach fade" id="get-the-app-modal" tabindex="-1" role="dialog" aria-labelledby="getapp-modal">
  <div class="close-button">
    <a class="close-button" data-dismiss="modal">
      <i class="icon-close"></i>
    </a>
  </div>
  <div class="wrapper">
    <h1>지금 다운로드 받으세요</h1>
    <h3 class="desktop">Available for iOS and Android</h3>
    <ul class="appstore-buttons text-center">
      <li class="ios-app-store">
        <a class="dispatch-ios-conversion" href="https://itunes.apple.com/us/app/yerdle/id544414705?mt=8&amp;uo=4">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/ios-download-e4d855b28a3186b2eef892fb4f7c6aad.png" alt="애플스토어로 이동">
        </a>
      </li>
      <li class="android-google-play">
        <a class="dispatch-android-conversion" href="https://play.google.com/store/apps/details?id=com.yerdle.yerdle">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/landing/google-play-download-c75ba5d6cf1832d7a2507dfb006cbe6e.png" alt="구글플레이로 이동">
        </a>
      </li>
    </ul>
    <img class="mobile" src="//d12azzhof0chfb.cloudfront.net/assets/landing/get-the-app-phones-mobile-4bd56325030b012b7df4f60fca4e1bd3.png" alt="모바일 애플리케이션 이미지">
  </div>
</div>
