<div class="visible-xs hidden-print" id="hamburger">
  <nav>
    <ul>
      <li>
        <a data-target="#how-it-works-modal" data-toggle="modal">
          <i class="icon-wand_medium"></i>
          How it Works
        </a>
      </li>
      <li>
        <a class="dispatch-mobile-conversion" data-target="#get-the-app-modal" data-toggle="modal">
          <i class="fa fa-mobile-phone"></i>
          Download the App
        </a>
      </li>
      <li>
        <a href="/postings">
          <i class="icon-shopbag"></i>
          Shop
        </a>
      </li>
      <li>
        <a href="/support">
          <i class="fa fa-question-circle"></i>
          Help
        </a>
      </li>
    </ul>
    <a class="btn btn-full-width btn-primary" href="/signup">Sign Up</a>
    <a class="btn btn-full-width btn-default" href="/login">Log In</a>
  </nav>
  <footer>
    <h5 class="text-uppercase">Join us on</h5>
    <ul class="share">
      <li>
        <a class="facebook-share">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/sharing/Facebook-0bdb72a972ac9c3002975cdbbca6ae0e.png">
        </a>
      </li>
      <li>
        <a class="twitter-share">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/sharing/Twitter-9bbd3d272ffdfa1e1d5b727ca14804c4.png">
        </a>
      </li>
      <li>
        <a class="email-share">
          <img src="//d12azzhof0chfb.cloudfront.net/assets/sharing/Email-14a9cd6bd62fbb02f0a974fd4ad740e2.png">
        </a>
      </li>
    </ul>
  </footer>
</div>
