<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <nav class="signed-out">
    <ul class="navbar-nav navbar-right">
      <li class="hamburger visible-xs">
        <a data-toggle="hamburger">
          <img src="//s3-ap-northeast-1.amazonaws.com/clebee/nanugo_logo.png" alt="Logo red dot">
        </a>
      </li>
      <li class="logo">
        <a href="/">
          <img alt="Yerdle logo" src="//s3-ap-northeast-1.amazonaws.com/clebee/nanugo_logo.png">
        </a>
      </li>
      <li class="search">
        <form class="search" action="/postings" accept-charset="UTF-8" method="get">
          <i class="icon-search"></i>
          <input type="search" name="q" id="q" placeholder="필요한 물건 찾기">
        </form>
      </li>
      <li class="hidden-xs">
        <a href="#services">서비스</a>
      </li>
      <li class="hidden-xs hidden-sm">
        <a href="#download" class="dispatch-mobile-conversion">다운로드</a>
      </li>
      <li class="login hidden-xs">
        <a href="/signin" data-target="#login-modal" data-toggle="modal">로그인</a>
      </li>
      <li class="signup hidden-xs">
        <a href="/signup" data-target="#signup-modal" data-toggle="modal" class="btn btn-outline">회원가입</a>
      </li>
      <li class="signup hidden-sm hidden-md hidden-lg">
        <a href="/signup">회원가입</a>
      </li>
      <li class="yrd-balance">
        <a href="#" data-target="#help-yrd-modal" data-toggle="modal">
          <i class="yrd-symbol"></i>
          25
        </a>
      </li>
    </ul>
  </nav>
</header>
